%h2
  =@channel.title
%div
  = link_to "Delete", channel_path(@channel), method: :delete, data: { confirm: "Are you sure you want to delete?" }
  %br
  = label_tag do
    = check_box_tag "music", "1", @channel.music
    Music Channel
  .get-all-link= link_to "Get All Videos", "#"
  .fetching{style: "display: none"}
    .fetch-text Fetching...
    .fetch-count
-videos = @channel.videos.where(series_id: nil, watched: false).order("published_at DESC")
.videos
  -videos.each do |video|
    .video-container
      =render partial: 'home/video', locals: {video: video}

:javascript
  new SVPX.ChannelShowPage("#{@channel.id}");
