- if @video
  .video-controls
    .button.skip Skip
    .button.hate Hate
    .button.love{class: "#{@video.love ? 'has-love' : ''}"} Love

  .clear-div

  %div
    Plays:
    .plays= @video.plays || 0
    Channel:
    .channel-title= @video.channel.title
    .video-title= @video.title
    .video-date= @video.published_at_display

  #player-wrapper1.player
  #player-wrapper2.player

  :javascript
    new SVPX.MusicPage(#{@video.to_json});
- else
  You don't have any music videos!
