<!DOCTYPE html>
<html>
<head>
  <title>Svpx</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag "https://www.youtube.com/iframe_api" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="svpx-header">SVPX</div>
<%= yield %>

</body>
</html>

<script type="text/javascript">
  $('.svpx-header').click(function(){
    window.location = '/home'
  });
</script>